@import "../../themes/ionic.globals";

// Card Header
// --------------------------------------------------

:host {
  //dsg
  padding: 0 !important;
  .ion-card-separator {
    border-top: 1px solid #c7c8c7;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  //dsg
  display: block;
  position: relative;

  background: var(--background);
  color: var(--color);

  card-title {
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 1.2;
  }
}

:host(.ion-color) {
  background: current-color(base);
  color: current-color(contrast);
}

:host(.ion-color) ::slotted(ion-card-title),
:host(.ion-color) ::slotted(ion-card-subtitle) {
  color: currentColor;
}
